@mixin para()
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.2rem
    letter-spacing: -0.12px
    line-height: 16.8px
    color: rgba(188, 188, 188, 0.5)
    margin: 0
    padding:0

@mixin subheadings()
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 2rem
    letter-spacing: -0.4px
    line-height: 16.8px
    color: rgba(255, 255, 255, 0.9)
    margin: 0
    padding:0