.row1
    margin: 0 auto
    .box11,.box12
        width: 100%
    .box11
        padding: 48px 41px 46px 39px
        border-radius: 30px
        background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
        .proinfo
            p
                &:nth-child(1)                    
                    font-size: 1.4rem
                    font-weight: 600
                    color: #ffffffb3
                &:nth-last-child(1)
                    font-size: 1.4rem
                    font-weight: 600
                    color: #a3a3a3
                    
                
    .box12
        .box121
            height: 40px
            overflow-x: hidden
            padding: 0px 26px
            border-radius: 30px
            background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
            .star
                position: relative
                img
                    position: absolute
                    top: -25px
                    left: -15px

            p
                font-size: 1.2rem
                font-weight: 600
                color: #bcbcbc99
                width: 178px                                 
                white-space: nowrap
                margin-right: 26px
                animation: move 10s linear infinite
                span
                    color: #fff
        .box122,.box123
            width: 100%
            height: 240px
            margin: .5em 0
            border-radius: 30px
            background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
            p
                color: #bcbcbc80
        .box122
            margin-right: .5em
            .box1221
                margin: 50px 68px 0 
            .box1222
                margin-bottom: .7em 
        .box123
            .box1231
                margin: 23px 55px 0 54px
            .box1232
                margin-bottom: .7em