.box21,.box22,.box23
    width: 100%
    height: 240px
    border-radius: 30px
    background-image: linear-gradient(114.15deg,#242424 10.15%,#141414 89.36%)
    h2
        font-size: 2rem
        font-weight: 600
    p
        font-size: 1.2rem
        font-weight: 500
        color: #bcbcbc80
        
.box21
    .box211
        margin-top: 28px
        img
            max-width: 126px
    .box212
        padding-left:24px   
        padding-right:35px

.box22
    margin: 0
    .box222
        padding:0 35px 18px 24px

.box23
    .box231
        width: 224px!important
        height: 126px
        border-radius: 30px 
        background-image: linear-gradient(114.15deg,#292929 10.15%,#1e1e1e 89.36%)
        .socials-inner
            width: 82px
            height: 82px
            position: relative
            border-radius: 50%
            background-image: linear-gradient(114.15deg,#353535 10.15%,#292929 89.36%)
            svg
                position: absolute
                left: 30%
                top: 30%
    .box232
        padding-left:24px
        padding-right:35px

@media ( min-width:700px)    
    .box21
        order: 3
        width: calc((100vw - 49px) / 2)
    .box22
        order: 5
    .box23
        order: 4
        width: calc((100vw - 49px) / 2)
        .box231
            max-width: 100%

@media ( min-width:1175px)
    .box21,.box23
        width: 272px
    .box21
        order: 3
    .box22
        width: 568px
        order: 4
    .box23
        order: 5