@use 'mixins' as mx
.box11
    width: 100%
    padding: 35px 30px 35px 30px
    border-radius: 30px
    background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
    .box111
        .propic
            width: 224px
            padding: 0 
            img
                width: 100%
                object-fit: cover
        .proinfo
            width: 224px
            padding: 0
            height: max-content
            text-align: center
            h1
                font-size: 3.6rem
                font-weight: 500
                margin-bottom: 10px
                letter-spacing: -0.72px
            p
                letter-spacing: 0.42px
                &:nth-child(1)                    
                    font-size: 1.4rem
                    font-weight: 500
                    color: #ffffffb3
                    margin-bottom: 6px
                &:nth-last-child(1)
                    font-size: 1.4rem
                    font-weight: 500
                    color: #a3a3a3
                    margin-bottom: 0
                
            
.box12
    width: 100%
    margin: 0
    padding: 0
    .box121
        height: 54px
        max-width: 100%
        margin: 0
        padding: 0px
        overflow-x: hidden
        border-radius: 30px
        background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
        .box1211
            animation: move 20s linear infinite
        p
            font-size: 1.2rem
            font-weight: 500
            color: #bcbcbc99                         
            white-space: nowrap
            padding: 0             
            span
                color: #fff
    .box122,.box123
        width: 100%
        height: 240px
        padding: 0
        margin: 0
        border-radius: 30px
        background: linear-gradient(114.15deg,#272727 10.15%,#141414 89.36%)
        p
            @include mx.para
        h2
            @include mx.subheadings()
    .box122
        .box1221
            width: 136px
            height: 92px
            padding: 0
            margin: 50px 68px 0 
            img
                width: 100%
                object-fit: cover
        .box1222
            padding: 0 30px 0 24px
    .box123
        .box1231
            width: 163px
            height: 118.02px
            padding: 0
            margin: 23px 55px 0 54px
            img
                width: 100%
                object-fit: cover                    
        .box1232
            padding: 0 30px 0 24px


@media ( min-width: 576px)
    .box12
        .box122,.box123
            // width: calc((100vw - 30px) / 2)
            width: -moz-calc((100vw - 30px)/2)
            width: -webkit-calc((100vw - 30px)/2)
            width: calc((100vw - 30px)/2)

@media (min-width:1175px)
    .box11
        padding: 48px 41px 46px 39px
        width: 568px 
        height: 318px
        .proinfo
            margin-left: 30px
                        
    .box12
        width: 568px
        .box121
            width: 100%
        .box122,.box123
            width: 272px                