*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
}

.hide {
  opacity: 0;
}

#logo {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  letter-spacing: -2.6px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 600;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, button:hover {
  border: none;
  outline: none;
}

svg {
  cursor: pointer;
}
svg:hover {
  cursor: pointer;
}
svg:hover path, svg:hover rect {
  fill-opacity: 1;
  stroke-opacity: 1;
}

header {
  margin-bottom: 80px;
}
header .navbar {
  padding: 10px 20px;
}
header .navbar a {
  font-size: 16px;
  font-weight: 500;
  color: #676767;
  transition: 0.5s;
}
header .navbar a:hover {
  color: #fff;
}
header .navbar .desktop-menu {
  display: none;
}
header .navbar .mobile-menu .hamburger-menu {
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
header .navbar .mobile-menu .hamburger-menu .bar {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
header .navbar .mobile-menu .hamburger-menu .bar:first-child {
  width: 20px;
  transform-origin: top left;
}
header .navbar .mobile-menu .hamburger-menu .bar:last-child {
  width: 28px;
  height: 3px;
  transform-origin: bottom left;
}
header .navbar .mobile-menu .hamburger-menu .bar.middle {
  opacity: 0;
}
header .navbar .mobile-menu .hamburger-menu .bar.active:first-child {
  width: 25px;
  height: 1px;
  transform: rotate(43deg);
}
header .navbar .mobile-menu .hamburger-menu .bar.active:last-child {
  width: 25px;
  height: 1px;
  transform: rotate(-43deg);
}
header .navbar .mobile-menu .mobbar-menu {
  display: none;
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(114.15deg, #272727 10.15%, #141414 89.36%);
}
header .navbar .mobile-menu .mobbar-menu.active {
  display: block;
}
header .navbar .mobile-menu .mobbar-menu li {
  margin-bottom: 10px;
}
header .navbar .mobile-menu .mobbar-menu li a:hover {
  color: #fff;
}
header .navbar .mobile-menu .mobbar-menu li button {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10.5px 29px;
  transition: 0.7s;
  border-radius: 16px;
  background-color: #323232;
  box-shadow: 0.5px 0.5px 3px grey;
}
header .navbar .mobile-menu .mobbar-menu li button:hover {
  color: #323232;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 3px #fff;
}

.grid-container {
  gap: 24px;
}

.box11 {
  width: 100%;
  padding: 35px 30px 35px 30px;
  border-radius: 30px;
  background: linear-gradient(114.15deg, #272727 10.15%, #141414 89.36%);
}
.box11 .box111 .propic {
  width: 224px;
  padding: 0;
}
.box11 .box111 .propic img {
  width: 100%;
  object-fit: cover;
}
.box11 .box111 .proinfo {
  width: 224px;
  padding: 0;
  height: max-content;
  text-align: center;
}
.box11 .box111 .proinfo h1 {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: -0.72px;
}
.box11 .box111 .proinfo p {
  letter-spacing: 0.42px;
}
.box11 .box111 .proinfo p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 6px;
}
.box11 .box111 .proinfo p:nth-last-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #a3a3a3;
  margin-bottom: 0;
}

.box12 {
  width: 100%;
  margin: 0;
  padding: 0;
}
.box12 .box121 {
  height: 54px;
  max-width: 100%;
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  border-radius: 30px;
  background: linear-gradient(114.15deg, #272727 10.15%, #141414 89.36%);
}
.box12 .box121 .box1211 {
  animation: move 20s linear infinite;
}
.box12 .box121 p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(188, 188, 188, 0.6);
  white-space: nowrap;
  padding: 0;
}
.box12 .box121 p span {
  color: #fff;
}
.box12 .box122, .box12 .box123 {
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  border-radius: 30px;
  background: linear-gradient(114.15deg, #272727 10.15%, #141414 89.36%);
}
.box12 .box122 p, .box12 .box123 p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -0.12px;
  line-height: 16.8px;
  color: rgba(188, 188, 188, 0.5);
  margin: 0;
  padding: 0;
}
.box12 .box122 h2, .box12 .box123 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.4px;
  line-height: 16.8px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
}
.box12 .box122 .box1221 {
  width: 136px;
  height: 92px;
  padding: 0;
  margin: 50px 68px 0;
}
.box12 .box122 .box1221 img {
  width: 100%;
  object-fit: cover;
}
.box12 .box122 .box1222 {
  padding: 0 30px 0 24px;
}
.box12 .box123 .box1231 {
  width: 163px;
  height: 118.02px;
  padding: 0;
  margin: 23px 55px 0 54px;
}
.box12 .box123 .box1231 img {
  width: 100%;
  object-fit: cover;
}
.box12 .box123 .box1232 {
  padding: 0 30px 0 24px;
}

@media (min-width: 576px) {
  .box12 .box122, .box12 .box123 {
    width: -moz-calc((100vw - 30px)/2);
    width: -webkit-calc((100vw - 30px)/2);
    width: calc((100vw - 30px) / 2);
  }
}
@media (min-width: 1175px) {
  .box11 {
    padding: 48px 41px 46px 39px;
    width: 568px;
    height: 318px;
  }
  .box11 .proinfo {
    margin-left: 30px;
  }
  .box12 {
    width: 568px;
  }
  .box12 .box121 {
    width: 100%;
  }
  .box12 .box122, .box12 .box123 {
    width: 272px;
  }
}
.box21, .box22, .box23 {
  width: 100%;
  height: 240px;
  border-radius: 30px;
  background-image: linear-gradient(114.15deg, #242424 10.15%, #141414 89.36%);
}
.box21 h2, .box22 h2, .box23 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.4px;
  line-height: 16.8px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
}
.box21 p, .box22 p, .box23 p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -0.12px;
  line-height: 16.8px;
  color: rgba(188, 188, 188, 0.5);
  margin: 0;
  padding: 0;
}

.box21 .box211 {
  margin-top: 28px;
}
.box21 .box211 img {
  max-width: 126px;
}
.box21 .box212 {
  padding: 0 30px 0 24px;
}

.box22 {
  margin: 0;
}
.box22 .box222 {
  padding: 0 30px 18px 29px;
}

.box23 .box231 {
  width: 224px !important;
  height: 126px;
  border-radius: 30px;
  background-image: linear-gradient(114.15deg, #292929 10.15%, #1e1e1e 89.36%);
}
.box23 .box231 .socials-inner {
  width: 82px;
  height: 82px;
  position: relative;
  border-radius: 50%;
  background-image: linear-gradient(114.15deg, #353535 10.15%, #292929 89.36%);
}
.box23 .box231 .socials-inner svg {
  position: absolute;
  left: 30%;
  top: 30%;
}
.box23 .box232 {
  padding: 0 30px 0 24px;
}

@media (min-width: 700px) {
  .box21 {
    order: 3;
    width: -moz-calc((100vw - 49px)/2);
    width: -webkit-calc((100vw - 49px)/2);
    width: calc((100vw - 49px) / 2);
  }
  .box22 {
    order: 5;
  }
  .box23 {
    order: 4;
    width: -moz-calc((100vw - 49px)/2);
    width: -webkit-calc((100vw - 49px)/2);
    width: calc((100vw - 49px) / 2);
  }
  .box23 .box231 {
    max-width: 100%;
  }
}
@media (min-width: 1175px) {
  .box21, .box23 {
    width: 272px;
  }
  .box21 {
    order: 3;
  }
  .box22 {
    width: 568px;
    order: 4;
  }
  .box23 {
    order: 5;
  }
}
.row31, .row32 {
  max-width: 100%;
  margin: 0;
  border-radius: 30px;
  background-image: linear-gradient(114.15deg, #242424 10.15%, #141414 89.36%);
}

.row31 {
  padding: 30px 0;
  gap: 24px;
  order: 6;
}
.row31 .boxes {
  width: 100%;
  max-width: 157px;
  height: 180px;
  border-radius: 30px;
  background-image: linear-gradient(114.15deg, #292929 10.15%, #1e1e1e 89.36%);
}
.row31 .boxes h2 {
  font-size: 3.4rem;
  font-weight: 500;
  letter-spacing: -1.87px;
  margin: 0 0 13px;
}
.row31 .boxes p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(188, 188, 188, 0.5019607843);
  line-height: 16.8px;
  letter-spacing: -0.12px;
  margin: 13px 0 0;
}
.row31 .boxes1 {
  padding: 42px 35px 41px 36px;
}
.row31 .boxes2 {
  padding: 42px 39px 41px 40px;
}
.row31 .boxes3 {
  padding: 42px 40px 41px;
}

.row32 {
  padding: 0 30px 45px;
  order: 7;
}
.row32 .row322 {
  margin-top: 15.5px;
}
.row32 .row322 .row3221 h1 {
  font-size: 4.4rem;
  font-weight: 600;
  letter-spacing: -1.32px;
  line-height: 52px;
  margin: 0;
}
.row32 .row322 .row3221 h1 span {
  color: #5b78f6;
}
.row32 .row322 .row3221 svg {
  min-width: 46px;
}

@media (min-width: 1175px) {
  .row31, .row32 {
    width: 568px;
  }
  .row31 {
    order: 6;
  }
  .row32 {
    order: 7;
  }
}
@media (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: block !important;
  }
  .desktop-menu ul {
    width: 352px;
    margin: auto 0;
  }
  .desktop-menu button {
    color: #FFFFFF;
    background-color: #323232;
    padding: 10.5px 29px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
  }
}
@keyframes move {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
footer {
  margin: 100px 0 62px;
}
footer .footer-nav .logo {
  margin-bottom: 30px;
}
footer .footer-nav .footer-links {
  width: 100%;
  max-width: 321px;
  margin-bottom: 34px;
}
footer .footer-nav .footer-links a {
  color: #676767;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.7s;
}
footer .footer-nav .footer-links a:hover {
  color: #fff;
}
footer .footer-nav .copyrights {
  font-size: 1.4rem;
  font-weight: 500;
}
footer .footer-nav .copyrights p {
  color: #676767;
}
footer .footer-nav .copyrights p span {
  color: #5774F6;
}/*# sourceMappingURL=style.css.map */